.git/
.gitignore
.dockerignore
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
docker-compose.yml
Dockerfile
test_app.py
.pytest_cache/
.idea/
.vscode/
static/covers/*
!static/covers/.gitkeep
